.header {
    padding: 16px 32px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.logo {
    max-width: 150px;
}
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2px;
    justify-content: space-between;
}
.menu__item {
    cursor: pointer;
}
.btn {
    color: white !important;
}
.btn:hover {
    color: gray !important;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
@media (max-width: 600px) {
    .form {
        width: 100%;
    }
}
.form__search {
    border-style: none;
    padding: 4px 8px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: inherit;
}
.user {
    background-color: inherit !important;
    border-style: none !important;
}
.user__icon {
    max-width: 32px;
}
.user__menu {
    background-color: #242424 !important;
}
.user__item {
    color: white !important;
}
.btn__logout:hover {
    text-decoration: underline;
    color: white !important;
}